*, *::before, *::after { 
  box-sizing: border-box;
}

body {
  height: 100%;

  margin: 0;
  padding: 0 10%;

  font-family: Arial, sans-serif;

  background-color: #F2F2F2;
}

#root {
  display: flex;
  flex-direction: column;
}
