.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding-right: 2.5em;
  box-sizing: border-box;
}

.password__toggle img {
  position: absolute;
  right: 0.75em;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}