.security__container {
  max-width: 500px;
  margin: 0 auto;
}

.security__label {
  display: block;
  margin-bottom: 20px;
}

.security__label span {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

.security__label input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.security__label .password__toggle {
  position: absolute;
  right: 0px;
  top: calc(50% - 0px);
}